node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

*/node_modules/**/*

.a3037aed776d4a439dedb201703b448c
.abb
MealsToGo-a3037aed776d4a439dedb201703b448c-signed.aab
